<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    *{ margin: 0; padding:0}
    a{ text-decoration: none }
    ul{
        display: flex;
        padding:100px
    }
    li{
        list-style: none;
        flex:1
    }
    </style>
</head>
<body>
<ul>

<% for(var i=0; i<files.length; i++) {%>
   <li><a href="<%= dirname + files[i] %>"><%= files[i] %></a></li>
<% } %>
</ul>
    
</body>
</html>